.film-info{
    max-width: 454px;
    max-height: 281px;
    border: 2px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    /************flex************/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*********************TEST_GRID***********************/
    display: grid;
    /*grid-template-rows: 1fr 1fr;*/
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-areas: 'poster description';


}
.film-info__poster--swapper{
    /*display: inline-block*/
    /*margin-right: 20px;*/
    width: 183px;
    height: 281px;
    /*********************TEST_GRID***********************/
    grid-area: poster;
}
.film-info__poster{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.film-info__description{
    margin-right: 9px;
    position: relative;
    /*********************TEST_GRID***********************/
    grid-area: description;

}
.film-info__main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;

}
.film-info__title{
    font-weight: normal;
    max-width: 190px;
    max-height: 50px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    overflow: hidden;
}
.film-info__raiting{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #E9D100;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 0;
    font-size: 12px;
    line-height: 22px;

}

.film-info__date{
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    color: #827E7E;
}
.film-info__types{
    /*display: flex;*/
    margin-right: auto;
    margin-bottom: 7px;
    /*********************TEST_GRID***********************/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15px, 50px));
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}
.film-info__item{
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    line-height: 15px;
    text-align: center;
    padding: 2px 4px 3px 5px;
    /*margin-right: 8px;*/
    /*********************TEST_GRID***********************/
}
.film-info__synopsis{
    font-size: 12px;
    line-height: 22px;
    max-width: 228px;
    max-height: 129px;
    overflow: hidden;
    margin-bottom: 1px;
    /*********************TEST_GRID***********************/
}
.film-info__star{
}