

$fonts: 'Inter';

$screen: (
"mobile": 520px,
"mobile-small": 420px,
);


$colors: (
"grey": #E5E5E5,
"light-grey": #827E7E,
"very-light-grey": #D9D9D9,
"medium-gray": #FAFAFA,
"low": #E90000,
"medium": #E97E00,
"high": #E9D100,
"highest": #66E900,
"azure": #1890FF,
"black": #000000,
"white": #ffffff,
);