.movie-list{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 36px;
    grid-row-gap: 36px;
    margin: 0 33px;
    margin-bottom: 37px;
}
.film-list__item{
    max-width: 454px;
    max-height: 281px;
    /*margin-bottom: 36px;*/
    /*margin-right: 36px;*/


}